<div class="wrapper">
  <form [formGroup] = 'form' (ngSubmit) = 'onSubmit()'>
      <div class="form-group">
          <label for="exampleInputEmail1">Название</label>
          <input
            class="form-control" 
            id="exampleInputEmail1" 
            aria-describedby="emailHelp" 
            placeholder="Введите название"
            formControlName = 'name'
            (keyup.enter) = 'modelRef.focus()'
          >
          
      </div>
      <div class="form-group">
          <label for="exampleInputEmail1">Модель</label>
          <input
            #modelRef 
            class="form-control" 
            id="exampleInputEmail1" 
            aria-describedby="emailHelp" 
            placeholder="Введите модель"
            formControlName = 'model'
          >
      </div>
      <hr>
      <button 
        type="submit" 
        class="btn btn-success"
        [disabled] = 'form.invalid || carsService.isDisabled'
        >Add car</button>
      <button type="button" class="btn btn-danger" (click) = 'loadCars()'>Load cars</button>
  </form>
</div>
