<div class="list-group">
  <app-cars-form (loadCars) = 'loadCars()'></app-cars-form>
  <hr>
  <div *ngIf = '!carsService.isDisabled; else preloader'>
      <app-car *ngFor = 'let car of cars$ | async' [car] = 'car'></app-car>
  </div>
  <ng-template #preloader>
      <app-preloader></app-preloader>
    </ng-template>
</div>

